<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.publicdata.dao.mysql.mapper.DataDictionaryMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="DataDictionary">  
        select * from `publicdata_data_dictionary` 
        where 1=1
        <if test="type !=null">
        	and `type` like concat('%',#{type},'%')
        </if>
        <if test="value !=null">
        	and `value` like concat('%',#{value},'%')
        </if>
        limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `publicdata_data_dictionary`
        where 1=1
        <if test="type !=null">
        	and `type` like concat('%',#{type},'%')
        </if>
        <if test="value !=null">
        	and `value` like concat('%',#{value},'%')
        </if>
    </select> 
    
    <select id="getDataDictionaryByKey" parameterType="java.util.HashMap" resultType="DataDictionary">
        select * from `publicdata_data_dictionary` where `key` = #{key} and `type` = #{type} limit #{start},#{count}
    </select>
    
</mapper>