<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.publicdata.dao.mysql.mapper.ProvinceMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Province">  
        select * from `publicdata_province` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `publicdata_province`
    </select> 
    
    <select id="getByName" parameterType="String" resultType="Province">  
        select * from `publicdata_province` where `name`=#{name}
    </select> 
</mapper>