<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.publicdata.dao.mysql.mapper.QuestionnaireMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Questionnaire">  
        select * from `publicdata_questionnaire` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `publicdata_questionnaire`
    </select> 
    
    <select id="getByCode" parameterType="String" resultType="Questionnaire">  
        select * from `publicdata_questionnaire` where code = #{code}
    </select>  
</mapper>