<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.macaovehicle.dao.mysql.mapper.CarOwnerAcquisitionMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="CarOwnerAcquisition">  
        select * from `macaovehicle_car_owner_acquisition` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `macaovehicle_car_owner_acquisition`
    </select> 
    
     <select id="getByCarOwner" parameterType="java.util.HashMap" resultType="CarOwnerAcquisition">  
        select * from `macaovehicle_car_owner_acquisition` where carOwnerId=#{carOwnerId} limit #{start},#{count}
    </select> 
</mapper>