<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.macaovehicle.dao.mysql.mapper.DriverMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Driver">  
        select * from `macaovehicle_driver` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `macaovehicle_driver`
    </select> 
    
    
    <select id="listByCarOwner" parameterType="java.util.HashMap" resultType="Driver">  
        select * from `macaovehicle_driver` 
        where  1=1   and `carOwnerId`=#{carOwnerId}
    </select>  
    
    <select id="getByName" parameterType="java.util.HashMap" resultType="Driver">
    	select * from `macaovehicle_driver` 
        where  1=1   and `driverName`=#{driverName} and `carOwnerId`=#{carOwnerId} 
    </select>
    
    <select id="listByCarOwnerMap" parameterType="java.util.HashMap" resultType="Driver">
        select * from `macaovehicle_driver`
        where  1=1   and `carOwnerId`=#{carOwnerId} and `driverIcState`=#{driverIcState}
    </select> 
    
</mapper>