<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.macaovehicle.dao.mysql.mapper.IllegalCarRecordMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="IllegalCarRecord">  
        select * from `macaovehicle_illegal_car_record` where 1=1
        <if test="plateNumber != null">
        	and `plateNumber` like concat('%',#{plateNumber},'%') 
        </if>
        <if test="departmentId > 0">
        	and `departmentId` = #{departmentId} 
        </if>
        limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `macaovehicle_illegal_car_record` where 1=1
        <if test="plateNumber != null">
        	and `plateNumber` like concat('%',#{plateNumber},'%') 
        </if>
        <if test="departmentId > 0">
        	and `departmentId` = #{departmentId} 
        </if>
    </select> 
</mapper>