<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.form.dao.mysql.mapper.FormTableMappingMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="FormTableMapping">  
        select * from `form_form_table_mapping` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `form_form_table_mapping`
    </select>
    
     <select id="getByForm" parameterType="Long" resultType="FormTableMapping">  
          select * from `form_form_table_mapping` where `mainFormId` = #{formId}
    </select>
    
     <select id="listAll2" parameterType="java.util.HashMap" resultType="FormTableMapping">  
        select * from `form_form_table_mapping` where 1=1
        <if test="mainFormId != null">
        	and `mainFormId` = #{mainFormId}
        </if>
        <if test="tableId != null">
        	and `tableId` = #{tableId}
        </if>
    </select>
    
    <delete id="deleteByMap">
        delete FROM form_form_table_mapping
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="mainFormId != null">
                AND mainFormId = #{mainFormId}
            </if>
            <if test="tableId != null">
                AND tableId = #{tableId}
            </if>
            <if test="id == null and mainFormId == null and tableId == null">
                AND 1 = 0
            </if>
        </where>
    </delete>
</mapper>