<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.form.dao.mysql.mapper.FormInstanceCodeNumberMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="FormInstanceCodeNumber">  
        select * from `form_form_instance_code_number` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `form_form_instance_code_number`
    </select> 
    
    <select id="getByCode" parameterType="String" resultType="FormInstanceCodeNumber">  
        select * from `form_form_instance_code_number` where code = #{code}
    </select> 
    
    <update id="incr" parameterType="java.util.HashMap">
    	update `form_form_instance_code_number` set `number`=`number` + 1 where `id`=#{id} and `number`= #{number}
    </update>   
</mapper>