<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.form.dao.mysql.mapper.FormDefMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="FormDef">  
        select * from `form_form_def` where 1=1
        <if test="mainFormId != null and mainFormId != 0">
        	and `mainFormId` = #{mainFormId}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `form_form_def` where 1=1
        <if test="mainFormId != null and mainFormId != 0">
        	and `mainFormId` = #{mainFormId}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>
    
    <select id="listAllByMap" parameterType="java.util.HashMap" resultType="FormDef">  
        select * from `form_form_def` where 1=1
        <if test="mainFormId != null and mainFormId != 0">
        	and `mainFormId` = #{mainFormId}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>
        
    <select id="listChildren" parameterType="Long" resultType="FormDef">  
        select * from `form_form_def` where 1=1	and `mainFormId` = #{mainFormId}
    </select>
</mapper>