<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.form.dao.mysql.mapper.ElementDefMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="ElementDef">  
        select * from `form_element_def` where 1=1
        <if test="formId != null and formId != 0">
        	and `formId` = #{formId}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        limit #{start},#{count}
    </select>
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `form_element_def` where 1=1
         <if test="formId != null and formId != 0">
        	and `formId` = #{formId}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
    </select> 
    
     <select id="list4query2" parameterType="java.util.HashMap" resultType="ElementDef">  
        select * from `form_element_def` where 1=1
        <if test="formId != null and formId != 0">
        	and `formId` = #{formId}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>
    
    <select id="listByForm" parameterType="Long" resultType="ElementDef">  
        select * from `form_element_def` where 1=1 and `formId` = #{formId}      
    </select>
    
    <delete id="deleteByMap">
        delete FROM `form_element_def` where 1=1
        <if test="formId != null">
            AND formId = #{formId}
        </if>
        <if test="formId == null">
            AND 1 = 0
        </if>
    </delete>    
</mapper>