<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.organization.dao.mysql.mapper.SuperiorMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Superior">  
        select * from `organization_superior` limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `organization_superior`
    </select> 
    <select id="getByClerk" parameterType="java.util.HashMap" resultType="Superior">  
        select * from `organization_superior` where `clerkId`=#{clerkId}
    </select> 
</mapper>