<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.publicdata.dao.mysql.mapper.QuestionMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Question">  
        select * from `publicdata_question` where 1 = 1
        <if test="questionnaireId!=null">
        	and `questionnaireId`=#{questionnaireId}
        </if>
        order by `sort`
        limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `publicdata_question` where 1 = 1
        <if test="questionnaireId!=null">
        	and `questionnaireId`=#{questionnaireId}
        </if>
    </select> 
    
    <select id="listByQuestionnaire" parameterType="Long" resultType="Question">  
        select * from `publicdata_question` where questionnaireId = #{questionnaireId} order by `sort`
    </select>
</mapper>