<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.snakerext.dao.mysql.mapper.ProcessExecutorInterfaceMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="ProcessExecutorInterface">  
        select * from `snakerext_process_executor_interface` limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `snakerext_process_executor_interface`
    </select>
    
     <select id="listAllByMap" parameterType="java.util.HashMap" resultType="ProcessExecutorInterface">  
        select * from `snakerext_process_executor_interface` where 1=1
        <if test="name != null">
        	and `name` = #{name}
        </if>
        <if test="method != null">
        	and `method` = #{method}
        </if>
    </select>
</mapper>