<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.snakerext.dao.mysql.mapper.TaskFormAccessMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="TaskFormAccess">  
        select * from `snakerext_task_form_access` limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `snakerext_task_form_access`
    </select>
    
    <delete id="deleteByMap">
        delete FROM `snakerext_task_form_access`
        <where>
            <if test="processId != null">
                AND processId = #{processId}
            </if>
            <if test="taskName != null">
                AND taskName = #{taskName}
            </if>
            <if test="processId == null and taskName == null">
                AND 1 = 0
            </if>
        </where>
    </delete>
    
    <select id="listByMap" parameterType="java.util.HashMap" resultType="TaskFormAccess">  
        select * from `snakerext_task_form_access` where 1=1
        <if test="processId != null">
        	and `processId` = #{processId}
        </if>
        <if test="taskName != null">
        	and `taskName` = #{taskName}
        </if>
        <if test="formId != null">
        	and `formId` = #{formId}
        </if>
        <if test="formType != null">
        	and `formType` = #{formType}
        </if>
    </select>
</mapper>